venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Backups and app data
*.bak
Media/
WhatsApp\ Documents/
WhatsApp\ Video/
WhatsApp\ Audio/
WhatsApp\ Images/
WhatsApp\ Voice\ Notes/
md5sum.txt
settings.json

# Briefcase/BeeWare builds and logs
build/
logs/

# Downloaded backup files (folders made of digits, e.g. 5215549688473)
[0-9]*/


# Ignore backup folders
[0-9]*

# Briefcase files
.briefcase/
*.dist-info/

